@import './fonts.css';
@import './tailwind.css';


:root {
    --main-reg: 'Sora-reg';
    --main-med: 'Sora-med';
    --title-semibold: 'Sora-semibold';
    --title-bold: 'Sora-bold';
    --title-font-dw: 'Cinzel-semibold';

    --bg-main: #1A1623;
    --bg-sec: #0E0C11;
    --primary-color: #1A1623;
    --cta-color: #1A1623;
    --cta-hover: #FFC85C;
    --new-films: #3CE6B0;
    --text-color: #F0E9FF;
    --grey-color: #A69CB2;
}

html {
    scrollbar-color: #1A1623 #1A1623;
    scrollbar-width: thin;
}

.main-font-r {
    font-family: var(--main-reg);
}

.main-font-m {
    font-family: var(--main-med);
}

.title-font-sm {
    font-family: var(--title-semibold);
}

.title-font-b {
    font-family: var(--title-bold);
}

.title-font-dw {
    font-family: var(--title-font-dw);
}

.bg-main {
    background-color: var(--bg-main);
}